@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@media only screen and (min-width: 800px)
 {
 body
 {
   font-family: "Open Sans";
   font-size: 0.8em;
   padding-left: 5%;
   padding-right: 5%;
 }
 header
 {
    height: 320px;
    background: url(pythonista_1560.png) no-repeat center;
  }
     nav
     {
       padding-left: 0;
       text-align: center;
       width: 100%;
       font-size: 1em;
       font-weight: bold;
       padding-bottom: 5px;
       border-color: black;
       border-bottom-style: solid;
       border-bottom-width: 1px;
     }
     nav li
     {
       display:inline;
       padding-left: 2em;
       list-style-type: none;
     }
     nav a:link, nav a:visited
     {
       font-size: 110%;
       line-height: 1em;
       font-weight: normal;
       text-decoration: none;
       color: #CB5C14;
       background: no-repeat top center;
     }
     nav a:hover
     {
       color: #000;
     }
     .apartado
     {
       border-image:url("separador.png");
       border-bottom: 30px;
       border-top:0;
       border-left:0;
       border-right:0;
     }
     .anuncio
     {
       font-weight: bolder;
     }
     img.separador
     {
       width: 80%;
       display: block;
       margin-left: auto;
       margin-right: auto;
     }
     footer
     {
       min-width: 600px;
       max-width: 1280px;
       color: #CB5C14;
       width: 100%;
       text-align: center;
       position: fixed;
       bottom: 0px;
       font-size: 65%;
       font-weight: bold;
       z-index: 10;
       background-color: white;
     }
     footer a
     {
       color: #CB5C14;
     }
